/**
 * Editor styles for Clock Grid block
 */

.clock-grid-container {
    display: block;
    box-sizing: border-box;
    position: relative;
}

.clock-grid-canvas {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

/* Color picker dropdown styling */
.clock-grid-color-dropdown {
    display: inline-flex;
}

.clock-grid-color-popover {
    padding: 0;
}

.clock-grid-color-button {
    background: transparent !important;
}

.clock-grid-color-button:hover {
    opacity: 0.9;
}

/* Fix color indicator display */
.clock-grid-color-button .component-color-indicator {
    display: block !important;
    width: 100% !important;
    height: 100% !important;
}