/**
 * Frontend styles for Clock Grid block
 */

.clock-grid-container {
    width: 100%;
    height: 100%;
    display: flex;
    box-sizing: border-box;
}

.clock-grid-canvas {
    width: 100%;
    height: 100%;
    display: block;
}
