/**
 * Frontend styles for Clock Grid block
 */

.clock-grid-container {
    display: block;
    box-sizing: border-box;
    position: relative;
}

.clock-grid-canvas {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}